 {% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href='{%static "css/nav.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
  <script src="{% static 'js/bootstrap.min.js' %}"></script> 
   <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script> 
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Ibom E-market</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
                  {% url 'home' as home %} 
                  {% url 'about' as about %}  
                  {% url 'contact' as contact %}  
                  {% url 'account/login' as Login %}  
                  {% url 'account/signup' as Signup %}
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Get Started <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li> -->
        <li {% if request.path == about %} class="active" {% endif %}><a href="{% url 'about' %}">About</a></li>
        <li {% if request.path == contact %} class="active" {% endif %}><a href="{% url 'contact' %}">Contact</a></li>
        {% if request.user.is_authenticated %} 
        <li {% if request.path == about %} class="active" {% endif %}><a href="{% url 'dashboard' %}">Dashboard</a></li>
         {% endif %}
        <li {% if request.path == contact %} class="active" {% endif %}> <a href="/shop">Shop</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         {% if not request.user.is_authenticated %} 
                    <li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span> Signin</a></li>
                    <li><a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-user"></span> Signup</a>
                </li>
        {% else %}
                <li {% if request.path == contact %} class="active" {% endif %}><a href="{% url 'account_logout' %}">Logout</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
  
</body>
</html>
